@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FAFAFA;
  --color-secundary: #62748E;
  --color-borderPrimary: #E2E8F0;
  --color-textPrimary: #0D93F2;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: var(--color-primary);
  font-family: "Manrope", sans-serif;
  color: var(--color-secundary);
}